/* 
INI BUAT TAMPILAN MOBILE
*/

h1#judulsection {
    margin-top: 10px;
    margin-bottom: 50px;
}

/* JUMBOTRON */
.section#jumbotron {
    background: url('../img/jumbotronbg.jpg');
    background-size: cover;
    background-position: center;
    height: 550px;
}

#jumbotron-text {
    margin-top: 150px;
}

#jumbotron-text h1 {
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#jumbotron-text p {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#jumbotron-text h1,
#jumbotron-text p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
    color: #ffffff;
}

button#kegiatan {
    background: transparent;
    color: #333333;
    border: 2px solid #333333;
}

button#kegiatan:hover {
    background: steelblue;
    color: #ffffff;
    border: 2px solid steelblue;
}

/* KEGIATAN */
section#kegiatan {
    background: whitesmoke;
}

/* BLOG */
.article-card {
    max-width: 350px;
    height: 425px;
    margin: 10px auto;
    background: #fff;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .1);
    transition: transform 0.3s ease-out;
    border-radius: 1em 1em 0.5em 0.5em;
}

.article-card:hover {
    transform: scale(1.08);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
}

.article-card:hover .article-card__excerpt {
    height: 116px;
    visibility: visible;
}

.article-card:hover .article-card__thumbnail {
    height: 170px;
}

.article-card:hover .article-card__thumbnail img {
    transform: scale(1.4);
}

.article-card__thumbnail {
    overflow: hidden;
    height: 286px;
    transition: all 0.5s ease;
    border-radius: 0.5em 0.5em 0 0;
    overflow: hidden;
}

.article-card__thumbnail img {
    transition: all 0.5s ease;
}

img#article {
    max-width: 100%;
    height: auto;
    transition: transform 1s ease-out;
}

.article-card__content {
    padding: 30px;
}

.article-card__title {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-bottom: 10px;
}

.article-card__meta {
    color: #777;
}

.article-card__meta i {
    margin-right: 5px;
    display: inline-block;
    font-size: 15px;
}

.article-card__timestamp {
    display: inline-block;
    margin-right: 15px;
}

.article-card__excerpt {
    height: 1px;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.3s ease;
}

/* 
INI BUAT TAMPILAN DESKTOP
*/