/* 
INI BUAT TAMPILAN MOBILE
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* navbar */
.navbar-item img {
    width: 180px;
    height: auto;
}



h1#judulsection {
    margin-top: 10px;
    margin-bottom: 50px;
}

/* JUMBOTRON */
.section#jumbotron {
    background: url('../img/bgUniv.jpg');
    background-size: cover;
    background-position: center center;
    height: 450px;
    background-attachment: fixed;
}

#jumbotron-text {
    margin-top: 150px;
}

#jumbotron-text h1 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -50px;
}

#jumbotron-text p {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#jumbotron-text h1,
#jumbotron-text p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
    color: #ffffff;
}

button#kegiatan {
    background: transparent;
    color: #333333;
    border: 2px solid #333333;
}

button#kegiatan:hover {
    background: #3273DC;
    color: #ffffff;
    border: 2px solid #3273DC;
}

/* KEGIATAN */
section#kegiatan {
    background: whitesmoke;
}

/* MAPS */
.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* FOOTER */
footer.footer {
    padding: 10px;
    background: #ffffff;
}

/* 
INI BUAT TAMPILAN DESKTOP
*/
@media (min-width: 768px) {
    .section#jumbotron {
        background: url('../img/bgUniv.jpg');
        background-size: cover;
        background-position: center center;
        height: 550px;
        background-attachment: fixed;
    }

    #jumbotron-text {
        margin-top: 150px;
    }

    #jumbotron-text h1 {
        font-size: 70px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #jumbotron-text p {
        font-size: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}